html { font-size:24px; }
body { font-size:16px; }

/** Styles for the tokens **/

pre, code { 
  font-size:13px;
	font-family:Hack, Menlo, Monaco, Monospace;
	tab-size:2;
}

#inspector code {
	background:#ddd;
  padding:2px;
  border-radius:2px;
}

pre, pre > code {
	color:white;
	background:#202020;
}

/* Html colors */

.AfterAttributeName,
.BeforeAtt,
.BeforeAttribute,
.BeforeValue,
.Bogus,
.BogusData,
.BogusEnd,
.BogusStart,
.Comment,
.CommentData,
.CommentEnd,
.CommentEndBogus,
.CommentStart,
.CommentStartBogus,
.TagSpace {
	color:#746D74;
}

.AttributeValue,
.AttributeValueData,
.AttributeValueEnd,
.AttributeValueStart,
.EndQuote,
.StartQuote,
.Value,
.ValueEnd,
.ValueStart {
	color: #8F9D6A;
}

.NumRef,
.HexRef,
.NamedRef {
	color: #DDF7AC;
}

.NumRef,
.HexRef,
.NamedRef {
	/* color:#E9784F; */
}

.TagName,
.StartTagStart,
.EndTagStart,
.FormatTagStart,
.FormatTagEnd,
.FormatEndTagStart,
.FormatEndTagEnd,
.VoidTagStart,
.VoidTagEnd,
.StartTagEnd,
.EndTagEnd,
.TagEnd,
.TagEndClose {
	color: #B38243;
}

.Assign,
.AttName,
.AttributeName {
	color: #D4BD7F;
}


/* .data,
.rcdata,
.rawtext,
.plaintext */

.unescaped {
	background: #60315A;
}


/** Some additional stying for the rest of the sample page **/

body {
  padding:1rem 1rem;
}
h1 {
  font-size:48px;
  line-height:2rem;
  min-height:2rem;
}
pre {
  display:block;
  line-height:1rem;
  padding:.7rem 1rem 1.3rem;
  border-radius:.3rem;
  overflow:auto;
}

#colors {
  cursor:default;
}
#colors span {
  padding:.15rem 0;
  border-radius:.1rem;
}
#colors span:hover {
  background:#444;
}


#colors span {
  border:1px solid #fff3;
  margin-right:-1px;
  border-radius:.2rem;
  padding:0 1px;
}
