html { font-size:22px; }
body { font-size:14px; }

html, body {
  width:100vw;
  height:100vh;
  overflow:hidden;
  margin:0;
  --border-color:#bbb;
}

main {
  position:absolute;
  height:80vh;
  width:100vw;
  overflow:hidden;
  padding:1rem;
}

:root {
/*  --acolor:#2B6679;
  --bgcolor:#FFF9DE;
  --screen:#CCBB9B66;
*/
  --screen:#0002;
}

.Input{
  width:50vw;
}

#input {
  height:5rem;
  width:100%;
/*  display:block;*/
/*  float:left;*/
	font-family:Hack, Menlo, Monaco, Monospace;
  border:1px solid var(--border-color);
  border-radius:4px;
  background-color:#fcfcfc;
  padding:.1rem .44em;
  margin:-.1rem 0;
}
#input:focus {
  outline:2px auto #003BF3;
  outline-offset:0px;
}
html.chrome #input:focus {
  outline-offset:2px;
}

.Input > button {
  left:calc(100% - 3rem);
  top:3.4rem;
  width:3rem;
  border-radius:0 0 4px 0;
  border:1px solid var(--border-color);
  height:1.5rem;
  background-color:#eee;
}
.Input > button::after {
  content:' >';
}
.Input > button:active {
  color:black;
  background:#ccc;
}
.Output {
  height:calc(100vh - 18rem);
}

#view1, #view2 {
  width:22vw;
  overflow:hidden;
}
#view3 {
  white-space:normal;
}

.Inspector {
  width:calc(50vw - 5rem - 7.5rem - 4rem);
  height:calc(100vh - 13rem);
  padding-right:1rem;
}


#tabs, #suites {
  --link-color:black;
  height:calc(100vh - 13rem);
}
#tabs { width:5rem }
#suites { width:7.5rem }

#suites li, #tabs li {
  padding:0 .5em;
}

.error {
  color:#9D0006;
}
.label {
  line-height:1rem;
  padding:.1em .2em;
  cursor:default;
}

.label:hover {
  outline:1px solid var(--border-color, currentColor);
}

.DomTree {
  /*font-family:Hack, Monaco, Menlo, Monospace;*/
  /*font-size:12px;*/
  overflow:scroll;
  padding:1rem;
  font-weight:bold;
}
div.children {
  margin-left:.8em;
  padding-left:.5em;
  border-left:1.5px solid black;
  white-space:pre;
}
div.children:after {
  content:'';
  display:block;
  clear:both;
  height:0px;
}
.text {
  font-weight:normal;
  font-style:italic;
  background:var(--screen);
  min-height:rem;
  display:inline-block;
}

.Console {
  background:#fffd;
  width:100vw;
  height:6rem;
  position:absolute;
  bottom:0; left:0;
  padding:0 1rem 1rem 1rem;
  font-size:12px;
  overflow-y:scroll;
  border-top:1px solid currentColor;
}
